@using Models
<tr @onclick="@ExpandView">
    <td>
        <span class="@iconClass"></span>
    </td>
    <td>@Family.StreetName</td>
    <td>@Family.HouseNumber</td>
    <td>@Family.Adults.Count Adults; @Family.Children.Count Children; @Family.Pets.Count Pets</td>
    
</tr>
    @if (_isCollapsed == false)
    {
        @ChildContent
    }

@code {
    private string iconClass = "oi oi-collapse-down";
    private bool _isCollapsed = true;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public Family Family { get; set; }

    public void ExpandView()
    {
        if (_isCollapsed)
        {
            _isCollapsed = false;
            iconClass = "oi oi-collapse-up";
        }
        else
        {
            _isCollapsed = true;
            iconClass = "oi oi-collapse-down"; 
        }
    }
}